%h1 Search Results
%hr
.search-results
  %b>= "#{pluralize(@events_total_entries, "event")} found"
  %ul
    - @events.each do |event|
      %li
        = image_tag event.image.url(:small), :class => "search-results-img", :style => "width:50px;height:50px"
        %span.search-results-desc
          = link_to event.title, organization_event_url(event.organization, event)
          %br
          #{event.description.html_safe}
      .clear
