%h1 Search Results
%hr
#search-results
  %b>= "#{pluralize(@organizations_total_entries, "organization")} found"
  %ul
    - @organizations.each do |organization|
      %li
        = link_to organization.name, organization_path(organization)
