%h1 Search Results
%hr
= @created_within
#search-results
  %b>= "#{pluralize(@events_total_entries, "event")} found"
  %ul
    - @events.each do |event|
      %li
        = link_to event.title, organization_event_url(event.organization, event)
