%h1 Search Results
%hr
#search-results
  %b>= "#{pluralize(@events_total_entries, "event")} found"
  %ul
    - @events.each do |event|
      %li
        = link_to event.title, organization_event_url(event.organization, event)
  %p
    Didn't find what you're looking for? Try the #{link_to "Advanced Search", advanced_search_path}
