%h2
  Our Vision
%p
  Every Filipino volunteering to build a better nation everyday

%h2
  Our Mission
%p
  To promote volunteerism by:
  %br
  Making it known
  %br
  Making it easy
  %br
  Making it happen

%h2
  Not just a website
%p
  iVolunteer is not just a website but a culture change empowered by volunteers to spread the passion of volunteerism. We thrive with small contributions of many passionate individuals. We network; we tell our friends about volunteerism. This is how we promote the culture: one person at a time.

%h2
  100% powered by volunteers
%p
  The iVolunteer portal is run 100% by volunteers with full time day jobs! It is a testament that if you want to help, there is no reason not to start now with what you can offer. In this, we also find hope that others, given the right information, will share their time and resources towards worthy causes.

%h2
  Building on each other’s work
%p
  www.ivolunteer.net.ph is the Philippines' first volunteerism portal created in 2001 by a group of passionate individuals. For more than ten years the group and the portal has pioneered many firsts including hosting of Exchange Arena (project that aimed to facilitate partnership building among the business sector, government and civil society through employee volunteerism) and creation of a model of institutionalizing a volunteer management system in the municipality of Libon in Albay.
%p
  Ten years after, another group of young professionals thought of using the internet and mobile phones to promote volunteerism. Needing a refresh and update, the portal and trademark was handed over by the original iVolunteer group to the current group. The idea of an online volunteer matching facility took a rebirth in 2011.

%h2
  We invite all volunteers
%p
  We’re inviting all volunteers: short-term or long-term volunteers, of any background, interest or expertise to be part of this online community. Be enriched by signing up in one or more of the volunteer opportunities posted online. Enrich others by sharing your experience as well as the website to your friends and family.

%h2
  We invite all organizations
%p
  If you are a duly recognized organization, whether government or non-government,  with volunteer opportunities to offer, please maximize this facility to reach out to more volunteers and find the volunteer with the right skill sets and interests matching your needs.
