!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %body
    %p
      You have a reply from #{@user.full_name}:

      %br/
      #{@mail_body}

      %br/
      Event Details
      When: #{date_time_text(@event)}
      Where: #{@event.address}

      %br/
      You can reply to this email.

