%h1 Register an Organization
%hr/
.register
  %p
    Please fill up the form below to register your organization. Once your organization account is activated, you may start creating Events and looking for volunteers.
    %br/
    %br/
  = render :partial => 'form'
/ register
