#footer
  .center-text
    Home  |  Volunteer Opportunities  |  Calendar  |  Organizations  |  About Us  |  Contact Us
    %br/
    %br/
    Copyright ©2012 by iVolunteer.net.ph. All Rights Reserved.

