#menu
  %ul#menu-ul
    - if controller_name == "home"
      %li.selected
        %a{:href => root_path} Home
    - else
      %li
        %a{:href => root_path} Home
    - if controller_name == "events"
      %li.selected
        %a{:href => "opportunities.html"} Volunteer Opportunities
    - else
      %li
        %a{:href => "opportunities.html"} Volunteer Opportunities
    %li
      %a{:href => "calendar.html"} Calendar
    %li
      %a{:href => "organizations.html"} Organizations
    %li
      %a{:href => "about-us.html"} About iVolunteer Philippines
    %li
      %a{:href => "contact-us.html"} Contact Us
