#menu
  %ul#menu-ul
    %li{:class => on_current_page("home")}
      %a{:href => root_path} Home
    %li{:class => on_current_page("events")}
      %a{:href => "opportunities.html"} Volunteer Opportunities
    %li
      %a{:href => "calendar.html"} Calendar
    %li
      %a{:href => "organizations.html"} Organizations
    %li
      %a{:href => "about-us.html"} About iVolunteer Philippines
    %li
      %a{:href => "contact-us.html"} Contact Us
