#menu
  %ul#menu-ul
    %li{:class => on_current_page("home")}
      %a{:href => root_path} Home
    %li{:class => on_current_page("events")}
      = link_to "Volunteer Opportunities", advanced_search_path
    %li
      %a{:href => ""} Calendar
    %li
      = link_to "Organizations", advanced_search_path
    %li
      %a{:href => ""} About iVolunteer Philippines
    %li
      %a{:href => ""} Contact Us
