#search
  %form#searchform{:action => search_path, :method => "get", :style => "margin-bottom:0px"}
    %input#searchtext{:name => "q", :size => "25", :type => "text", :value => ""}/
    %input{:type => "submit", :value => "Search"}/
