#search
  %form#searchform{:action => "volunteersearch.php", :method => "post", :style => "margin-bottom:0px"}
    %input#searchtext{:name => "searchtext", :size => "25", :type => "text", :value => ""}/
    %input{:name => "btnSearch", :onclick => "submitSearch()", :type => "button", :value => "Search"}/
